li {
  list-style-type: none;
}
.profilePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: white;
  overflow-y: auto;
}

.user {
  width: 99%;
  max-height: 45vh;
  flex: 1;
  margin: 10px 10px 20px 10px;
}

.avatar {
  display: block;
  margin: 10px auto 5px auto;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.userInfo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  text-align: left;
  font-size: 10px;
}

.followEditButton {
  float: right;
}
.deleteBanButton {
  float: left;
}

.bottomContainer {
  display: flex;
  flex: 1;
  max-height: 50vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: center;
  margin: 10px;
}

.editIcon {
  transform: scale(0.2);
}

.listHeader {
  text-align: left;
}

.eventsContainer {
  width: 500px;
}

.userEventList {
  bottom: 10px;
  width: 450px;
  max-height: 550px;
  overflow-y: scroll;
  border-top: 2px solid lightgrey;
}

.userEvent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 125px;
  padding: 5px;
  border-bottom: 2px solid lightgrey;
}

.eventThumbnailContainer {
  width: 160px;
}

.eventThumbnail {
  width: 150px;
  height: 85px;
  border-radius: 10%;
  margin: 5px;
}

.eventContent {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.eventDate {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.eventText {
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 5px;
}

.eventAttendees {
  margin-left: 5px;
}

.removeButton {
  margin-left: 90px;
  width: 10px;
  height: 10px;
}

.following {
  width: 400px;
}

.grey {
  color: grey;
}
