.eventDashboard {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.bannerImg {
  padding-bottom: 30px;
  float: left;
  max-width: 750px;
  max-height: 500px;
}

.eventTitle {
  margin-top: 3%;
  margin-left: 20.5%;
  text-align: left;
}

.eventInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: space-between;
  margin: 10px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  min-height: 750px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  min-height: 750px;
}

.eventInformation {
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 350px;
  width: 300px;
  border-radius: 15%;
  border: solid 1px grey;
}

.eventDescription {
  text-align: left;
  float: left;
  width: 750px;
  padding-bottom: 30px;
}

.questionsContainer {
  text-align: left;
  float: left;
  width: 750px;
  padding-bottom: 30px;
}

.attendee {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.avatarContainer {
  width: 50px;
  float: left;
}

.attendeeName {
  text-align: left;
  padding-top: 10px;
  padding-left: 60px;
}

.attendeesContainer {
  margin-top: 0.5%;
  margin-right: 10px;
  width: 500px;
}

.cardHeader {
  padding: 5px;
  text-align: center;
  font-size: 150%;
}

.cardInformation {
  text-align: center;
}
